
#notes .nav {
  margin: 40px 0;
  height:40px;
  .btn {
    @include border-radius(20px);
    border-width: 2px;
    color: #919191;
    @include transition(all 2.0s ease-in-out);

    i {
      @include fontSize(18)
    }
  }
}


.notes-insert-img {
  padding: 40px;
}

#img-modal {
  img {
    padding: 7px;
    box-sizing: border-box;
    background-color: $logo-lite;
  }

  p {
    @include fontSize(12)
  }

  .modal-body {
    height: 600px;
    overflow: hidden;
    overflow-y: auto;
  }

  .btn {
    margin-top: 5px;
    @include border-radius(20px);
  }

}

.confirm-trash {
  display: none;
  color: red;
}


.note-editor.note-frame {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid $logo-lite;
}

.note-editable {
  border-bottom: 2px dotted $logo-lite;
  padding-bottom: 10px;
  margin-bottom: 50px;
  color: #A9A9A9;
}
