@import "../../../../../node_modules/bourbon/app/assets/stylesheets/bourbon";
@mixin fontSize($pixels, $base: 16){

  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($base)) {
    $base: $base * 1px;
  }
  font-size: $pixels;
  font-size: $pixels / $base * 1em;

}
html {
  font-size: 16px !important;
}
body {
  -webkit-font-smoothing: antialiased;
  font-size: 16px !important;
}

p {
  line-height: 1.7;
  @include fontSize(17);
}
header {
  height: 200px;
  background-color: lightgrey;
  color: #fff;
  margin-bottom: 60px;
}
 a {
   &:link, &:visited {
     color: lightgrey;
   }

   &:hover, &:focus {
     text-decoration: none;
   }

 }


.adv-notes {

  font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  padding: 10px;
  background-color: #F5F5F5;
  border-radius: 3px;
  border: 1px solid darken(#F5F5F5, 10%);

  #adv-notes {
    width: 100%;
    min-height: 300px;
  }
  .note-editor.note-frame {
    border: none;
    background-color: transparent;
  }

  .notes-logo-text {
    font-size: 18px;
    color: #D8D8D8;
  }

  .notes-toolbar {
    padding: 5px;
    display: flex;
    min-height: 36px;
    align-items: center;

    .col {
      margin: 0 10px;
    }

    .col-fluid {
      flex-grow: 2;
    }

    button {
      height: 34px;
      background-color: #fff;
      border: 1px solid #9B9B9B;
      color: #9B9B9B;
      font-size: 13px;
      margin: 0 5px;
      padding: 0 12px;
      &:hover {
        border-color: #55ADF8;
        color: darken(#55ADF8, 25%);
      }

    }
    input, .form-control {
       width: auto;

     }
  }
  input {
    @include placeholder {
      color: #D8D8D8;
      font-size: em(13, 16);
      font-size: 13px;
    }
    &.error {
      border: red 1px solid;
    }
  }

}

.collections {
  .a-note {

    padding: 20px;
    margin-bottom: 10px;
    background-color: #FBFBFB;
    border-bottom: solid 1px darken(#FBFBFB, 5%);
    .h1, p {
      color: #A9A9A9;
    }

  }



}
footer {
  min-height: 100px;
}
