@import "../../../../../node_modules/bourbon/app/assets/stylesheets/bourbon";

.adv-notes {

  font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  padding: 10px;
  background-color: #F5F5F5;
  border-radius: 3px;
  border: 1px solid darken(#F5F5F5, 10%);

  #adv-notes {
    width: 100%;
    min-height: 300px;
  }
  .note-editor.note-frame {
    border: none;
    background-color: transparent;
  }

  .notes-logo-text {
    font-size: 18px;
    color: #D8D8D8;
  }

  .notes-toolbar {
    padding: 5px;
    display: flex;
    min-height: 36px;
    align-items: center;

    .col {
      margin: 0 10px;
    }

    .col-fluid {
      flex-grow: 2;
    }

    button {
      height: 34px;
      background-color: #fff;
      border: 1px solid #9B9B9B;
      color: #9B9B9B;
      font-size: 13px;
      margin: 0 5px;
      padding: 0 12px;
      &:hover {
        border-color: #55ADF8;
        color: darken(#55ADF8, 25%);
      }

    }
    input, .form-control {
       width: auto;

     }
  }
  input {
    @include placeholder {
      color: #D8D8D8;
      font-size: em(13, 16);
      font-size: 13px;
    }
    &.error {
      border: red 1px solid;
    }
  }

}
