body {
    -webkit-font-smoothing: antialiased; }

p {
    line-height: 1.8;
    font-size: 18px;
    font-size: 1.125em; }

header {
    height: 200px;
    background-color: lightgrey;
    color: #fff;
    margin-bottom: 60px; }

a:link, a:visited {
    color: lightgrey; }

.adv-notes {
    font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: #F5F5F5;
    border-radius: 3px;
    border: 1px solid gainsboro; }
    .adv-notes #adv-notes {
        width: 100%;
        min-height: 300px; }
    .adv-notes .note-editor.note-frame {
        border: none;
        background-color: transparent; }
    .adv-notes .notes-logo-text {
        font-size: 18px;
        color: #D8D8D8; }
    .adv-notes .notes-toolbar {
        padding: 5px;
        display: flex;
        min-height: 36px;
        align-items: center; }
        .adv-notes .notes-toolbar .col {
            margin: 0 10px; }
        .adv-notes .notes-toolbar .col-fluid {
            flex-grow: 2; }
        .adv-notes .notes-toolbar button {
            height: 34px;
            background-color: #fff;
            border: 1px solid #9B9B9B;
            color: #9B9B9B;
            font-size: 13px;
            margin: 0 5px;
            padding: 0 12px; }
            .adv-notes .notes-toolbar button:hover {
                border-color: #55ADF8;
                color: #086ec5; }
        .adv-notes .notes-toolbar input, .adv-notes .notes-toolbar .form-control {
            width: auto; }
    .adv-notes input::-webkit-input-placeholder {
        color: #D8D8D8;
        font-size: 0.8125em;
        font-size: 13px; }
    .adv-notes input::-moz-placeholder {
        color: #D8D8D8;
        font-size: 0.8125em;
        font-size: 13px; }
    .adv-notes input:-moz-placeholder {
        color: #D8D8D8;
        font-size: 0.8125em;
        font-size: 13px; }
    .adv-notes input:-ms-input-placeholder {
        color: #D8D8D8;
        font-size: 0.8125em;
        font-size: 13px; }
    .adv-notes input.error {
        border: red 1px solid; }

.collections .a-note {
    padding: 20px;
    margin-bottom: 10px;
    background-color: #FBFBFB;
    border-bottom: solid 1px #eeeeee; }
    .collections .a-note .h1, .collections .a-note p {
        color: #A9A9A9; }

footer {
    min-height: 100px; }
