.adv-notes {
    font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: #F5F5F5;
    border-radius: 3px;
    border: 1px solid gainsboro; }
    .adv-notes #adv-notes {
        width: 100%;
        min-height: 300px; }
    .adv-notes .note-editor.note-frame {
        border: none; }
    .adv-notes .notes-logo-text {
        font-size: 18px;
        color: #D8D8D8; }
    .adv-notes .notes-toolbar {
        padding: 5px;
        display: flex;
        min-height: 36px;
        align-items: center; }
        .adv-notes .notes-toolbar .col {
            margin: 0 10px; }
        .adv-notes .notes-toolbar .col-fluid {
            flex-grow: 2; }
        .adv-notes .notes-toolbar button {
            height: 32px;
            background-color: #fff;
            border: 1px solid #9B9B9B;
            color: #9B9B9B;
            font-size: 13px;
            margin: 0 5px;
            padding: 0 12px; }
            .adv-notes .notes-toolbar button:hover {
                border-color: #55ADF8;
                color: #086ec5; }
    .adv-notes input::-webkit-input-placeholder {
        color: #D8D8D8;
        font-size: 0.8125em;
        font-size: 13px; }
    .adv-notes input::-moz-placeholder {
        color: #D8D8D8;
        font-size: 0.8125em;
        font-size: 13px; }
    .adv-notes input:-moz-placeholder {
        color: #D8D8D8;
        font-size: 0.8125em;
        font-size: 13px; }
    .adv-notes input:-ms-input-placeholder {
        color: #D8D8D8;
        font-size: 0.8125em;
        font-size: 13px; }
