html {
  font-size: 16px !important;
  color: #919191; }

body {
  -webkit-font-smoothing: antialiased;
  font-size: 16px !important;
  background-color: #f5f8f9; }

h1, h2, h3, h4, h5, .h1, .h2, .h3 {
  margin-top: 0; }

p {
  line-height: 1.9;
  font-size: 18px;
  font-size: 1.125em; }

header {
  height: 380px;
  background-color: #363636;
  color: #fff;
  margin-bottom: 60px; }

header p {
  color: #e1e1e1; }

a:link, a:visited {
  color: #919191; }

a:link i, a:visited i {
  color: #d4d4d4; }

a:hover, a:focus {
  text-decoration: none; }

a:hover i, a:focus i {
  color: #959595; }

.collections .a-note, .collections .note {
  padding: 0 40px;
  margin-bottom: 10px;
  background-color: #FFFFFF;
  border: solid 1px #eeeeee;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.collections .a-note .h1, .collections .a-note p, .collections .a-note span, .collections .a-note div, .collections .note .h1, .collections .note p, .collections .note span, .collections .note div {
  color: #919191; }

.collections .a-note .note-title, .collections .note .note-title {
  font-size: 36px;
  font-size: 2.25em; }

.collections .a-note .note-title i, .collections .note .note-title i {
  font-size: 24px;
  font-size: 1.5em; }

.collections .a-note .note-title .direction, .collections .note .note-title .direction {
  color: #e1e1e1; }

.collections .a-note {
  height: 110px; }

.collections .note {
  padding: 40px; }

.collections .note .note-title {
  font-size: 62px;
  font-size: 3.875em; }

.layout {
  display: table;
  width: 100%;
  height: inherit !important; }

.layout .layout-center {
  display: table-cell;
  vertical-align: middle; }

.layout-flex {
  display: flex;
  align-items: center; }

.layout-flex .layout-flex-fluid {
  flex-grow: 1; }

footer {
  min-height: 100px;
  padding: 40px 0 40px; }

footer .attributions {
  color: lightgray;
  margin: 10px 0; }
